.container-profile div.wrapper {
  max-width: 50%;
}

.container-profile .profile {
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  text-align: center;
}
.container-profile .profile img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.container-profile .divider{
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.container-profile label {
  border: 0;
}
.container-profile input {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.296);
}
.container-profile button{
  width: 10rem;
}

.custom_modal_notif{
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: 600;
}


@media screen and (max-width: 1000px) {

  .container-profile div.wrapper {
    max-width: 100%;
  }
  
}




