* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    text-decoration: none;
}

a:visited{ text-decoration: none; }
a:link{ text-decoration: none; }

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

main {
	margin: 2rem;
   
}

.main {
	text-align: center;
	margin-bottom: 4rem;
}

.main h1 {
	font-size: 4rem;
	margin-bottom: 1rem;
}

.main p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}


.btn:hover {
    box-shadow: inset 0 0 0 2px #23c23d;
    background-color: #fff;
    color: #333;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.feature-box {
    flex-basis: calc(33.33% - 2rem);
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-box i {
    font-size: 3rem;
    margin-bottom: 1rem;
    display: block;
}

.feature-box h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.feature-box p {
    font-size: 1rem;
}

.cta {
    text-align: center;
    margin-bottom: 4rem;
}

.cta h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.product-card{
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    max-width: 20rem;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
}
.product-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fdfff7;
}

.product-image {
    height: 250px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    padding: 20px;
}

.product-name {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-description {
    margin-bottom: 10px;
    font-size: 0.9em;
}

.product-price {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.add-to-cart-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.add-to-cart-button:hover {
    background-color: #3e8e41;
}

#catalog-warper{
    justify-content: center;
}



@media screen and (max-width: 768px) {

    main {
        margin: 1rem;
        margin-top: 7rem;
    }

    .main h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .main p {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .features {
        flex-direction: column;
    }

    .feature-box {
        flex-basis: 100%;
        margin-bottom: 1.5rem;
    }

    .cta h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

}
